<?xml version="1.0"?>
<configuration>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

    <appSettings>
        <!-- Product catalog: \Data\ contains Product Name, Price and Promotions -->
        <add key="ProductCatalogProxyUri" value=".\..\..\Data\Data.ProductCatalog.xml" />

        <!-- Testing data of client basket: \Data\ -->
        <!-- Ideally, basket testing data locations shall not go with .config files, but handy for testing convenience -->
        <!-- Copy/Paste to easier your test: Data.Basket1.xml, Data.Basket2.xml,Data.Basket3.xml -->
        <add key="BasketUri" value=".\..\..\Data\Data.Basket.xml" />       
    </appSettings>
</configuration>
